body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #3498db;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 70%;
    max-width: 600px;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5em;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

p {
    line-height: 1.6;
}

/* Dark mode styles (optional) */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}
/* Toggle dark mode button */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle:hover {
    background-color: #1f618d;
}
